<ul class="nav__pages">
  {{#each navPages}}
    <li><a href="{{../relativePath}}{{url}}" title="{{name}}">{{name}}</a></li>
  {{/each}}
</ul>

<ul class="nav__utils">
  {{#each navUtils}}
    <li>
      <a href="{{url}}"
        class="{{class}}"
        {{#if external}}target="_blank"{{/if}} {{#if dataDrop}}data-drop="{{dataDrop}}"{{/if}} title="{{name}}">
        {{name}}
        {{#if icon}}
          <span class="icon--right {{icon}}"></span>
        {{/if}}
      </a>
    </li>
  {{/each}}
</ul>
