<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content=" IE=edge">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content=" width=device-width, initial-scale=1">

		<meta name="author" content="Rodenbeek.com">
		<meta name="description" content="{{description}}">
		<meta name="keywords" content="{{keywords}}">

    	<title>{{{title}}}</title>

		<!-- Fonts -->
		<link href='https://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
    	<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700' rel='stylesheet' type='text/css'>

		<link href="{{relativePath}}assets/css/styles.css" rel="stylesheet"/>

    	{{> favicon}}
	</head>

	<body class="disable-transition-load">
	    
	    <header>
	      {{> header}}
	    </header>

	    <nav>
	      {{> nav}}
	    </nav>

		{{> body}}

	    <footer>
			{{> footer}}
	    </footer>
		
    	<script src="vendor/modernizr/modernizr.js"></script>
		<script src="vendor/jquery/dist/jquery.js"></script>
		<script src="vendor/jquery.easing/js/jquery.easing.js"></script>
		<script src="vendor/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
		<script src="vendor/eventEmitter/EventEmitter.js"></script>
		<script src="vendor/eventie/eventie.js"></script>
		<script src="vendor/hammerjs/hammer.js"></script>
		<script src="vendor/imagesloaded/imagesloaded.js"></script>
		<script src="vendor/jqBootstrapValidation/dist/jqBootstrapValidation-1.3.7.min.js"></script>
		<script src="vendor/lodash/lodash.js"></script>
		<script src="vendor/verge/verge.js"></script>

		<!-- Utility scripts -->
		<script src="{{relativePath}}assets/js/utils.js"></script>

		<!-- Component scripts -->
		<script src="{{relativePath}}assets/js/components.js"></script>
	</body>
</html>
